beautifulsoup4
lxml
numpy>=1.19.5
onnxruntime
onnxruntime_gpu
opencv_contrib_python
opencv_python
opencv_python_headless
openpyxl
Pillow>=9.1.0
premailer
pyclipper
pyinstrument
PyMuPDF
python_docx==0.8.11
PyYAML>=5.4.1
scipy
Shapely

# please also do the following
# python -m pip install fastdeploy-gpu-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html

# for latex
tqdm>=4.47.0
munch>=2.5.0
torch>=1.7.1
requests>=2.22.0
einops>=0.3.0
x_transformers==0.15.0
transformers>=4.18.0
tokenizers==0.13.0
pandas>=1.0.0
timm==0.5.4
albumentations>=0.5.2
pyreadline3>=3.4.1
wenxin-api
cnstd
dashscope